

html {
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  background: #000;
  font-family: 'Bangers', cursive;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #000;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*header block*/
.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.header-logo {
  width: 160px;
  height: 110px;
  fle
}
/*navigation block*/
.navigation {
  margin: 0;
  background: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.navigation__link {
  display: flex;
  text-decoration: none;
  padding: 1em;
  background: #000;
  color: #fff;
  font-size: 0.8em;
  justify-content: center;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active,
.navigation__link--active {
  background:rgba(0,0,0,0.5);
  transition: all 0.5s;
}
/*main-content block*/
.main-content {
  background-color: #000;
  display: grid;
}
.main-content > * {
}

/*content block*/
.main-content {
  display: grid;
  background-color: #000;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
}
.gallery__item {

}
.gallery__image {
  /* width: 400px; */
  display: block;
  width: 100%;
  max-width: 100%;

}
/*footer block*/
.footer {
}


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
