:root {
  --main: #000;
  --stagod: #0FA;
  --fontSize: 12rem;
  --fontFamily: 'Bangers';
}

html {
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  background: #000;
  font-family: 'Bangers', cursive;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #000;
  background-color: var(--main);
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}
/*main-content block*/
.main-content {
  background-color: #000;
}
